.header {
  height: 105px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;

  a {
    display: inline-block;
    img {
      display: block;
      transition: transform 300ms, filter 300ms;

      &:hover {
        transform: scale(1.05);
        filter: drop-shadow(var(--highlight-color) 0px 3px 8px);
      }
    }
  }
}
